@charset "uft-8"

@import url('https://fonts.googleapis.com/css2?family=@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*reset*/
*{padding: 0; margin: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td 
{padding: 0; margin: 0;}

a{color: inherit; text-decoration: none;}
li{list-style: none;}
address, em, i{font-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;}
a:hover{text-decoration: none; color: inherit;}

/*layout*/
body{font-family: 'Roboto', sans-serif; font-size: 14px; background: #eee; }
.wrap{width: 100%; overflow: hidden;}
.en {font-family: 'Bebas Neue'; cursive;}


/*header*/
header{width: 100%; position: fixed; z-index: 100; background: black;}
.innerHeader{padding: 0 60px; height: 36px; transition: all 0.3s;}
.innerHeader .title{width: 50px; height: 36px; float: left; margin-top: 20px; transition: all 0.3s; color: white; position: relative; 
  font-size: 26px; line-height:20px;}

/*gnb*/
.gnb{position: absolute; left: 50%; transform: translateX(-30%); width: 800px;}
.gnb > li{float: left; width: 20%; height: 56px; line-height: 60px; position: relative; transition: all 0.3s;} /*오랜지색 컨텐츠 높이*/
.gnb > li > a{display: block; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 18px; font-weight: 500; }
.gnb > li > a:before{position:absolute; content: ''; background: orange; width: 100%; height:100%; 
z-index: -1; left: 50%; top: -80px; transform: translateX(-50%); opacity: 0; transition: all 0.3s;}
.gnb li:hover > a:hover:before, .gnb li > a:focus:before{opacity: 1; top:0; transition: opacity 0.5s, top 0.5s; overflow: hidden;}

/*흰색 박스*/
.gnb ul.inner{width: 160px; background: #fff; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px 25px; line-height: 40px; box-sizing: border-box; opacity: 0; transition: opacity 0.5s; z-index: 200; pointer-events: none;}
.gnb ul.inner.on{opacity: 0.9; line-height: 40px; pointer-events: auto;}
.gnb ul.inner a{display: block; width: 100%; height: 100%;}
.gnb ul.inner a span{display: inline-block; position: relative; font-size: 16px;}
/*.gnb ul.inner a span:after{content: ''; width: 0; height: 2px; background: orange; position: absolute; left: 0; bottom: 8px; 
transition: all 0.3s; opacity: 1;}*/
.gnb ul.inner a span:hover{color: #444; opacity: 0.8;}
.gnb ul.inner a:hover span:after, .gnb ul.inner a:focus span:after{width: 100%; padding-right: 10px;}


/*fixHeader(스크롤 시 헤더의 높이 줄어듦)*/
header.on .innerHeader{height: 46px; transition: all 0.4s;}
header.on .innerHeader .title{margin-top: 14px; transition: all 0.4s;}
header.on .innerHeader .gnb > li{height: 50px; line-height: 46px; transition: all 0.4s;} /*오랜지색 컨텐츠*/
header.on .gnb ul.inner.on {top: 46px;}

.contents .greeting .parllax-1{width: 100%; height: 330px;}
.contents .greeting .parallax-window {
    height: 330px;
    background: transparent;
    transition: all 3s;
}

.contents .greeting .text{position: absolute; top: 30%; left: 10%; color: white; 
  font-family: 'Bebas Neue'; cursive; font-size: 50px; letter-spacing: 2px; text-shadow: 0px 1px #ffffff, 4px 4px 0px orange;}



/*자기소개 contents*/
.contents{height: 1000px;}
.contents .introduce .brief{display: inline-block; float: left; margin-left: 10%;  margin-top: 5%; } 
.contents .introduce .img{background-color: none; position: relative;}
.contents .introduce .brief h1{text-align: center; font-size: 20px; margin-top: 20px;}
.contents .introduce .brief ul {margin-top: 10px;}
.contents .introduce .brief ul li{list-style-type: disc; margin-left: 20px;}
.contents .introduce .brief .link{margin-top: 20px; margin-left: 20px;}
.contents .introduce .brief .link a{margin-left: 10px;}


.contents .introduce .text{overflow: hidden; color: #555; background-color: rgba(75, 78, 85, 0.1); 
  font-size: 18px; letter-spacing: -1px; line-height: 38px; padding: 20px; 
width: 600px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24); display: inline-block; margin-top: 8%; position: absolute; left: 39%;}




/*fotter*/
footer{background: #191a1a; padding: 30px 20px; color: #666;}
footer ul{margin-bottom: 10px; overflow: hidden; margin-left: 20px;}
footer ul li {float: left; margin-right: 20px;}
footer p{margin-left: 20px;}