@charset "uft-8"

@import url('https://fonts.googleapis.com/css2?family=@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*reset*/
*{padding: 0; margin: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td 
{padding: 0; margin: 0;}

a{color: inherit; text-decoration: none;}
li{list-style: none;}
address, em, i{font-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;}
a:hover{text-decoration: none; color: inherit;}

/*layout*/
body{font-family: 'Roboto', sans-serif; font-size: 14px; background: #eee;}
.wrap{width: 100%; overflow: hidden;}
.en {font-family: 'Bebas Neue'; cursive;}


/*header*/
header{width: 100%; position: fixed; z-index: 100; background: black;}
.innerHeader{padding: 0 60px; height: 36px; transition: all 0.3s;}
.innerHeader .title{width: 200px; height: 36px; float: left; margin-top: 20px; transition: all 0.3s; color: white; position: relative; }

/*gnb*/
.gnb{position: absolute; left: 50%; transform: translateX(-30%); width: 800px;}
.gnb > li{float: left; width: 20%; height: 56px; line-height: 60px; position: relative; transition: all 0.3s;} /*오랜지색 컨츠 높이*/

.gnb > li > a{display: block; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 18px; font-weight: 500; }
.gnb > li > a:before{position:absolute; content: ''; background: orange; width: 100%; height:100%; 
z-index: -1; left: 50%; top: -80px; transform: translateX(-50%); opacity: 0; transition: all 0.3s;}

/*흰색 박스*/
.gnb ul.inner{width: 160px; background: #fff; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px 25px; line-height: 50px; box-sizing: border-box; opacity: 0; transition: opacity 0.5s;}

.gnb li:hover > a:hover:before, .gnb li > a:focus:before{opacity: 1; top:0; transition: opacity 0.5s, top 0.5s; overflow: hidden;}
.gnb ul.inner.on{opacity: 1; line-height: 50px;}
.gnb ul.inner a{display: block; width: 100%; height: 100%;}
.gnb ul.inner a span{display: inline-block; position: relative;}
.gnb ul.inner a span:after{content: ''; width: 0; height: 2px; background: orange; position: absolute; left: 0; bottom: 8px; 
transition: all 0.3s; opacity: 1;}
.gnb ul.inner a:hover span:after, .gnb ul.inner a:focus span:after{width: 100%; padding-right: 10px;}


/*fixHeader(스크롤 시 헤더의 높이 줄어듦)*/
header.on .innerHeader{height: 46px; transition: all 0.4s;}
header.on .innerHeader .title{margin-top: 14px; transition: all 0.4s;}
header.on .innerHeader .gnb > li{height: 50px; line-height: 46px; transition: all 0.4s;} /*오랜지색 컨텐츠*/
header.on .gnb ul.inner.on {top: 46px;}



/*프로젝트 설명*/
.project{margin-top: 10%; margin-left: 5%;}

/*프로젝트 타이틀*/
.project .explanation .title{margin-bottom: 20px; margin-left: 20px; font-size: 20px; margin-top: 110px;}
.project .explanation li .title:before{content:'01'; font-weight: bold; color: #666; font-size: 30px; font-family: 'Bebas Neue', cursive; margin-right: 10px;}

/*프로젝트 타이틀 앞 숫자*/
.project .explanation li:nth-child(2) .title:before{content:'02';}
.project .explanation li:nth-child(3) .title:before{content:'03';}  
.project .explanation li:nth-child(4) .title:before{content:'04';}  
.project .explanation li:nth-child(5) .title:before{content:'05';}  


/*유튜브 영상*/
.project .explanation .videoBox{float: left; position: relative; width: 400; height: 300;}
/*xycar 유튜브*/
/*.project .explanation .project1 .videoBox iframe{position: absolute; display: none;}
.project .explanation .project1 .videoBox .mask span img{transition: all 1s; }

*/

/*영상 호버 효과*/
/*.project .explanation .project1 .videoBox .mask:hover img{cursor: pointer; transform: scale(0.92); transition: all 0.6s}
.project .explanation .project1 .videoBox .mask span:hover:after{transform: translate(-50%,-50%) scale(1); }
*/


/*프로젝트 이미지*/
.project .explanation .slideBox{width: 420px; height: 320px; margin:0; position: relative; float: left;}
.project .explanation .slideBox .slide li{margin-right: 50px;}
.project .explanation .slideBox .slide li p.img{width: 400px; height:  300px; overflow: hidden; position: relative;}
.project .explanation .slideBox .slide li p.img img{width: 100%; height: 100%; transition: all 2s; position: absolute;}
.project .explanation .project5 .slideBox .slide li p.img {width: 200px; height: 320px; left: 20%;} /*안드로이드 이미지*/

/*이미지 호버 효과*/


/*이미지 화살표*/
.slick-arrow {position: absolute; top:50%; transform: translateY(-50%); z-index: 20; background: none; width: 110px; height: 52px; border: none;}
.slick-arrow:hover{cursor: pointer;}	 
.slick-prev{left: -90px;}
.slick-next {right: -78px;}
.project .explanation .project5 .slick-prev{left: -40px;}  /*안드로이드 이미지 화살표*/
.project .explanation .project5 .slick-next {right: 35px;}
.slick-prev:before {left: 0; content:url(../img/prev.png);}
.slick-next:before {right: 0; content:url(../img/next_re.png);}


/*이미지 인디케이터*/
.project .explanation .slideBox .slick-dots{position: absolute; bottom: -9%; left: 36%; transform: translateX(-10%); z-index: 10; text-align: center;}
.project .explanation .slideBox .slick-dots li{width: 6px; height: 6px; float: left; margin: 0 10px;}
.project .explanation .slideBox .slick-dots li button{width: 100%; height: 100%; background: #666; border:none; text-indent: -9999px;}
.project .explanation .slideBox .slide .slick-dots:hover, .project .explanation .slideBox .slide .slick-dots button:hover{cursor: pointer;}
.project .explanation .project5 .slideBox .slick-dots{left: 26%;}	/*안드로이드 이미지 인디케이터*/

/*인디케이터 활성화*/
.project .explanation .slideBox .slide .slick-dots li.slick-active button{background: orange; width: 8px; height: 8px; margin-top: -12px; transition: height 0.3s;}


/*프로젝트 소제목들*/
.project .explanation .subtitle{margin-top: 40px; font-size: 17px; margin-left: 14px;}
.project .explanation .project1 .implementationPart .subtitle{margin-top: 130px;} /*이유는 모르겠지만 xycar 구현 margin-top이 안먹혀서 따로 처리함*/


/*기술 스택, 소개*/
.project .explanation .introduceProject{margin-left: 60px; display: inline-block; width: 55%;}
.project .explanation .introduceProject .introduce2{margin-top: 30px;}  /*기술 스택, 소개 사이 간격 다른 소제목 간격보다 더 넓게 */

/*기술 스택 블럭화*/
.project .explanation .introduceProject .techStack{margin-top: 10px;}
.project .explanation .introduceProject .techStack span{margin-right: 10px; background-color:#FFB53C; padding: 4px; border-radius: 6px;}
.project .explanation .introduceProject .techStack span:nth-child(2){background-color:#F3553C;}
.project .explanation .introduceProject .techStack span:nth-child(3){background-color:#B4D8E7;}
.project .explanation .introduceProject .techStack span:nth-child(4){background-color:#CCCCCC;}
.project .explanation .introduceProject .techStack span:nth-child(5){background-color:#5E9EA0;}
.project .explanation .introduceProject .techStack span:nth-child(6){background-color:#92B5D9;}
.project .explanation .introduceProject .techStack span:nth-child(7){background-color:#CCCCCC;}


/*프로젝트 구성(팀 or 개인)*/
.project .explanation .introduceProject .configuration {background-color: rgba(225, 102, 100, 0.5);; padding: 4px; border-radius: 6px; margin-top: 10px; display: inline-block;} 
.project .explanation .project3 .configuration{background-color:#CCA9DD;}  /*개인 프로젝트는 스택 색 다르게*/


/*프로젝트 전체 설명글*/
.project .explanation .text{margin-top: 10px; line-height: 25px; width: 80%; text-align: justify} /*글이 꽉 차지 않게 넓이 줄여줌*/
.project .explanation .introduceProject .text{ font-size: 15px; width: 100%;}  /*소개 부분만 글자 크게*/


/*구현*/
.project .explanation .implementationPart{clear: both; margin-top: 80px;}  /*clear:both 속성 : div가 아래로 글자가 줄바꿈 되기를 원할 때*/


/*저장소 링크*/
.project .explanation .storage .subtitle{float: left; margin-top: 34px;}
.project .explanation .storage a{display: inline-block;  margin-top: 36px; margin-left: 20px; text-decoration: underline;}


/*fotter*/
footer{background: #191a1a; padding: 30px 20px; color: #666; margin-top: 100px;}
footer ul{margin-bottom: 10px; overflow: hidden; }
footer ul li {float: left; margin-right: 20px;}