@charset "uft-8"

@import url('https://fonts.googleapis.com/css2?family=@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*reset*/
*{padding: 0; margin: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td 
{padding: 0; margin: 0;}

a{color: inherit; text-decoration: none;}
li{list-style: none;}
address, em, i{font-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;}
a:hover{text-decoration: none; color: inherit;}

/*layout*/
body{font-family: 'Roboto', sans-serif; font-size: 14px; background: #eee;}
.wrap{width: 100%; overflow: hidden;}
.en {font-family: 'Bebas Neue'; cursive;}


/*header*/
header{width: 100%; position: fixed; z-index: 1000; background: black;}
.innerHeader{padding: 0 60px; height: 36px; transition: all 0.3s;}
.innerHeader .title{width: 200px; height: 36px; float: left; margin-top: 20px; transition: all 0.3s; color: white; position: relative; }

/*gnb*/
.gnb{position: absolute; left: 50%; transform: translateX(-30%); width: 800px;}
.gnb > li{float: left; width: 20%; height: 64px; line-height: 60px; position: relative; transition: all 0.3s;}
.gnb > li > a{display: block; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 18px; font-weight: 500; }
.gnb > li > a:before{position:absolute; content: ''; background: #f8b922; width: 100%; height: 100%; 
z-index: -1; left: 50%; top: -80px; transform: translateX(-50%); opacity: 0; transition: all 0.3s;}
.gnb ul.inner{width: 160px; background: #fff; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
	padding: 10px 25px; line-height: 50px; box-sizing: border-box; opacity: 0; transition: opacity 0.5s}
.gnb li:hover > a:hover:before, .gnb li > a:focus:before{opacity: 1; top:0; transition: opacity 0.5s, top 0.5s; overflow hidden;}
.gnb ul.inner.on{opacity: 1; line-height: 50px;}
.gnb ul.inner a{display: block; width: 100%; height: 100%;}
.gnb ul.inner a span{display: inline-block; position: relative;}
.gnb ul.inner a span:after{content: ''; width: 0; height: 2px; background: #f8b922; position: absolute; left: 0; bottom: 8px; transition: all 0.3s;}
.gnb ul.inner a:hover span:after, .gnb ul.inner a:focus span:after{width: 100%; padding-right: 10px;}


/*fixHeader(스크롤 시 헤더의 높이 줄어듦)*/
header.on .innerHeader{height: 30px; transition: all 0.4s;}
header.on .innerHeader .title{margin-top: 14px; transition: all 0.4s;}
header.on .innerHeader .gnb > li{height: 46px; line-height: 46px; transition: all 0.4s;}
header.on .gnb ul.inner.on {top: 46px;}

/*section.visual(이미지, 텍스트)*/
.visual .slide li{position: relative; width: 100%; height: 870px; text-align: center; color: #fff;}
.visual .slide li img{height: 100%; width: auto;}
.visual .slide li .txt{position: absolute; width: 100%; top: 26%; font-size: 130px; line-height: 1; letter-spacing: 15px; }
.visual .slide li a{display: inline-block; position: absolute; left: 50%; transform: translateX(-50%); bottom: 50%; font-size: 30px; letter-spacing:2px;}
.visual .slide li a:after{content: ''; width: 70%; height: 2px; position: absolute; left: 50%; transform: translateX(-50%); bottom: -6px; background: #f8b922; transition: all 0.3s;}
.visual .slide li a:hover:after, .visual .slide li a:focus:after{width: 100%; transition: all 0.3s;}

/*mask*/
.visual .slide li .mask{display: block; position: absolute; top: 0; width: 1px; height: 100%; background: rgba(255, 255, 255, 0.36);}
.visual .slide li .mask.a{left: 0%;}
.visual .slide li .mask.b{left: 25%;}
.visual .slide li .mask.c{left: 50%;}
.visual .slide li .mask.d{left: 75%;}


/*이미지 넘어가는 화살표*/
.slick-arrow{position: absolute; top: 40%; transform: translateY(-50%); z-index: 1; background: none; width: 110px; height: 52px; border: none;
text-align: right; text-transform: uppercase; font-size: 20px; color: #fff; letter-spacing: 2px; font-family: 'Bebas Neue', cursive;}
.slick-next{text-align: left; right: 0;}
/*밑줄*/
.slick-arrow:after{content: ''; position: absolute; left: 0; top: 80%; transform: translateY(-50%); width: 90%; height: 2px;
background: #fff;}	
.slick-next:after{left: 45%;}

/*마우스 올렸을 때*/
/*버튼*/
.slick-arrow:before{content: ''; width: 0%; height: 100%; background:#fff; position: absolute; top: 0; left: 0;
transition: all 0.4s; z-index: -1;}
.slick-next::before{left: 0px;}
/*밑줄*/
.slick-arrow:hover{color: #000; transition: all 0.3s; cursor: pointer;}
.slick-arrow:hover:after{background: #f8b922;}
.slick-arrow:hover:before{width: 112%;}

/*이미지 슬라이더의 인디케이터*/
.visual .slide .slick-dots{position: absolute; bottom: 40%; left: 50%; transform: translateX(-50%); z-index: 100;}
.visual .slide .slick-dots li{width: 2px; height: 15px; float: left; margin: 0 10px;}
.visual .slide .slick-dots li button{width: 100%; height: 100%; background: #fff; border:none; text-indent: -9999px;}
/*text-intent : 들여쓰기 => 들여쓰기를 마이너스값을 줘서 텍스트가 버튼에 안보기게 하기 */
.visual .slide .slick-dots:hover, .visual .slide .slick-dots button:hover{cursor: pointer;}
/*활성화된 슬라이드 인디케이터 크기와 색상 변경*/
.visual .slide .slick-dots li.slick-active button{background: #f8b922; height: 18px; margin-top: -12px; transition: height 0.3s;}
/*슬라이드 애니메이션*/


/*텍스트 애니메이션*/

.visual .splitting {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


